@import './variables.scss';

.wrapper {
    display: block;
    padding-top: $spacer2x;
    margin: 0 auto;
    width: 100%;
    &:last-of-type {
        padding-bottom: $spacer4x;
    }
    @media screen and (min-width: 769px){
        &:first-of-type {
            padding-top: $spacer*10;
        }   
    }
    @media screen and (max-width: 768px){
        &:first-of-type {
            padding-top: 0;
        }   
    }
}

.navbar-sticky {
    background: #FFFFFF;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 3px 16px rgb(0 0 0 / 30%);
}

.btn-primary {
    cursor: pointer;
    display: inline-flex;
    align-self: center;
    align-items: center;
    gap: $spacer1_1;
    color: white;
    background-color: $colorPrimary;
    border-radius: 8px;
    width: fit-content;
    padding: $spacer1_2 $spacer;
    transition: background-color .2s linear;

    &:hover{
        background-color: $colorPrimaryDark;
    }
}

.title {
    font-size: $fontSize-l;
    font-family: $fontFamily-subTitle;
    font-weight: bold;
    @media screen and (max-width: 768px){
        &{
            font-size: $fontSize-lg;
        }
    }
}

.arrow-right{
    &::after {
        display: inline-block;
        padding-left: 8px;
        content: "\0279E"; // arrow right unicode
        transition: transform 0.3s ease-out;
    }
    &:hover {
        &::after {
            transform: translateX(4px);
        }
    }
}