@import './../../../Constants/constants.scss';

.services {
    display: grid;
    grid-gap: $spacer;
    padding: $spacer;
    justify-items: center;

    &__service {
        @include flex-center-all-column();
        background-color: $white;
        box-shadow: 0 0 6px #00000024;
        border-radius: 8px;
        padding: $spacer*3 0;
        gap: $spacer;
        min-height: 450px;
        & img {
            height: 300px;
            width: auto;
            border-radius: 8px;
            object-fit: contain;
            transition: .3s;

            &:hover {
                transform: scale(1.1);
            }
        }
        & p{
            max-width: 80%;
            text-align: center
        }
        & button {
            @include btn-primary();
            border: 0;
            outline: 0;
        }
    }
    & > span{
        cursor: pointer;
        @include flex-row();
        justify-self: flex-end;
    }
}

@media screen and (min-width: 769px){
    .services {
        grid-template-columns: repeat(2,1fr);
        margin: 0 15%;
        & > span {
            grid-column: 1 / span 2;
        }
    }
}

@media screen and (max-width: 768px){
    .services {
        grid-template-columns: repeat(1,1fr);
        margin: 0 $spacer2x;
    }
}

@media screen and (max-width: 425px){
    .services {
        margin: $spacer1_1;
        padding: 0;
        column-gap: $spacer;
        &__service {
            padding: $spacer;
            gap: $spacer1_2;
            & img {
                height: 250px;
            }
            & p {
                font-size: $fontSize-ms;
            }

            & button {
                font-size: $fontSize-ms;
                padding: 5px 10px;
            }
        }
    }
}