@import "../../Constants/constants.scss";

.testimonials{
    padding: $spacer2x 0;
    &__testimonial {
        @include flex-center-all-column();
        display: flex;
        width: 25%;
        &--header {
            height: 250px;
            background-image: transparent;
            img {
                max-height: 250px;
                width: auto;
                margin: 0 auto;
            }
        }
        &--body {
            @include flex-center-all-column();
            text-align: center;
            gap: $spacer;
            padding: $spacer;
            background-color: $white;
            border-radius: 8px;
            box-shadow: -6px -3px 9px 0px rgb(0 0 0 / 10%);

            p.desc {
                @include line-clamp(7);
                font-style: italic;
                padding: 0 $spacer;
                background-color: $colorLight;
                border-radius: 4px;
            }

            .rating {
                @include flex-align-center-row();
                gap: $spacer1_2;
                padding: $spacer $spacer2x;
                margin-top: $spacer;
                width: fit-content;
                border-top: 1px solid rgba(0, 0, 0, .35);

                span {
                    color: $colorDark;

                    &.rated {
                        color: rgb(255, 221, 31);
                    }
                }
            }
        }
    }
}

.slick-slider {
    margin: 0 $spacer4x;
}

.slick-slide > div {
    margin: 0 $spacer;
}

.slick-list {
    margin: 0 (-$spacer);
}   

.slick-prev:before, .slick-next:before {
    color: $colorDark;
}

.slick-dots {
    bottom: initial;
    margin-bottom: $spacer1_2;
}
.slick-dots li {
    margin: 0;

    button:before{
        font-size: 8px;
        color: $colorPrimary;
    }

    &.slick-active button:before{
        font-size: 10px;
        color: $colorPrimaryDark;
    }
}