@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500&display=swap');
@import './Constants/constants.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: $fontSize-m;
    font-family: $fontFamily-paragraphStyle;
    background-color: $colorLight;
    color: $colorDark;

    span{
        color: $colorPrimary;
    }

    ul{
        list-style: none;
    }
    a{
        color: $colorDark;
        cursor: pointer;
        text-decoration: none;
        &:focus, &:focus-visible {
            outline: 0;
        }
    }


    button.btn-primary{
        outline: 0;
        border: 0;
        @include btn-primary();
    }
}

.wrapper--title {
    @include flex-center-all-row();
    font-size: $fontSize-l;
    font-weight: bold;
    position: relative;
    &::before, &::after {
        content: "";
        height: 3px;
        border-radius: 8px;
        background-color: $colorPrimary;
        width: 20%;
        margin: $spacer;
    }
}

.wrapper:nth-child(odd){
    background-color: darken($color: $colorLight, $amount: 3);
}

@media screen and (max-width: 768px) {
    body{
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .wrapper--title {
        font-size: $fontSize-ls;
    }
}