@import './../../../../Constants/constants.scss';

.hero {
    position: relative;
    height: 60vh;
    display: grid;
    padding: 0 $spacer;
    background: url('https://img.freepik.com/free-photo/blur-hospital_1203-7972.jpg?w=2000') no-repeat center;
    background-size: cover;
    color: $white;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(0, 127, 155, 0.328) 7.19%, rgba(255, 255, 255, 0) 104.33%);
    }
    &__left-content{
        position: relative;
        @include flex-column();
        justify-content: center;
    }
    &__right-content {
        position: relative;
    }
}

.hero-pitches {
    display: grid;
    position: relative;
    grid-column-gap: $spacer1_1;
    justify-items: center;
     &__pitch{
        @include flex-center-all-column();
        padding: $spacer2x $spacer;
        width: fit-content;
        color: $white;
        border-radius: 8px;
        background: linear-gradient(45deg, #1fa2c3, #29ddf3);
    }
}

@media screen and (min-width: 769px){
    .hero {
        grid-template-columns: repeat(2, 1fr);
        &__left-content {
            margin-left: $spacer2x;
        }
        &__right-content {
            &::after{
                position: absolute;
                content: "";
                background: url('https://www.freepnglogos.com/uploads/doctor-png/doctor-bulk-billing-doctors-chapel-hill-health-care-medical-3.png') no-repeat center bottom;
                top: 0;
                left: 0;
                right: 0;
                transform: scale(.9);
                bottom: -$spacer4x;
                left: 270px;
            }
        }
    }
    .hero-pitches {
        grid-template-columns: repeat(3,1fr);
        margin-top: -$spacer*3;
    }
}
@media screen and (max-width: 768px){
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-row-gap: $spacer2x;
        &__left-content {
            align-items: center;
            text-align: center;
        }
        &__right-content {
            background: url('https://www.freepnglogos.com/uploads/doctor-png/doctor-bulk-billing-doctors-chapel-hill-health-care-medical-3.png') no-repeat center bottom;
            height: 100%;
            background-size: contain;
        }
    }
    .hero-pitches {
        grid-template-columns: 1fr;
        grid-row-gap: $spacer1_2;
        margin-top: -$spacer2x;
        &__pitch {
            width: calc(100% - $spacer);
            text-align: center;
            padding: $spacer1_2 0;

            & > div {
                font-size: $fontSize-ms;
                width: 50%;
                text-align: center;
            }
        }
    }
}